<header class="h-16 panel--center px-8 w-full flex items-center bg-gray-800 md:flex">
    <a href="/" class="flex items-center space-x-2">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="flowbite Logo">
        <span class="self-center text-2xl text-white nav-list">open-receiver.org</span>
    </a>
    <div class="text-white">
        <ul class="flex p-4 md:p-0 font-medium">
            <li>
                <a target="_blank" href="/" class="block px-3"><i class="fa-solid fa-book"></i><span class="px-2">docs</span></a>
            </li>
            <li >
                <a target="_blank" href="https://github.com" class="block px-3"><i class="fab fa-github"></i><span class="px-2">github</span></a>
            </li>
            <li>
                <a target="_blank" href="/" class="block px-3"><i class="fas fa-server"></i><span class="px-2">portal</span></a>
            </li>
        </ul>
    </div>
    <div class="text-white absolute inset-y-0 right-8 nav-list">
        <input href="/" class="bg-yellow-600 px-4 py-2 rounded " type="button" value="Getting Started"/>
    </div>
</header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">